params {
    outdir = 'results/delly_real_test'
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    delly_exampledata_base_path = 'https://raw.githubusercontent.com/dellytools/delly/main/example/'
    annotsv_annotations = null
}

process {
    withName: '.*SV_CALLING_DELLY:ANNOTSV_ANNOTSV' {
        ext.args = '-svtBEDcol 4 -samplesidBEDcol 5 -SVminSize 20 -vcf 1'
    }
}
