/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // publishDir = [
    //     path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //     mode: params.publish_dir_mode,
    //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    // ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: BWA_INDEX {
        publishDir = [
            path: { "${params.outdir}/reference_files" },
            mode: params.publish_dir_mode
        ]
    }

    withName: PICARD_CREATESEQUENCEDICTIONARY {
        publishDir = [
            path: { "${params.outdir}/reference_files" },
            mode: params.publish_dir_mode,
            pattern: '*.dict'
        ]
    }

    withName: GATK4_COMPOSESTRTABLEFILE {
        publishDir = [
            path: { "${params.outdir}/reference_files" },
            mode: params.publish_dir_mode,
            pattern: '*.zip'
        ]
    }

    withName: 'BWA_MEM' {
        ext.prefix   = {"${meta.id}.mapped"}
        ext.args = {"-Y "}
        ext.args2 = {"-1 "}
    }

    withName: 'GATK4_FASTQTOSAM' {
        ext.prefix   = {"${meta.id}"}
        ext.args = { "--READ_GROUP_NAME ${meta.id}.unmapped --PLATFORM illumina " }
    }


    withName: SAMTOOLS_SORT {
        ext.prefix   = {"${meta.id}.sorted"}
        ext.args = '-n'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'GATK4_MERGEBAMALIGNMENT' {
        ext.prefix   = {"${meta.id}.merged"}
        ext.args = '--VALIDATION_STRINGENCY SILENT --EXPECTED_ORIENTATIONS FR --ATTRIBUTES_TO_RETAIN X0 --PAIRED_RUN true --SORT_ORDER "coordinate" --IS_BISULFITE_SEQUENCE false --ALIGNED_READS_ONLY false --CLIP_ADAPTERS false --ADD_MATE_CIGAR true --MAX_INSERTIONS_OR_DELETIONS -1 --PRIMARY_ALIGNMENT_STRATEGY MostDistant --UNMAPPED_READ_STRATEGY COPY_TO_TAG --ALIGNER_PROPER_PAIR_FLAGS true --UNMAP_CONTAMINANT_READS true '
    }

    withName: 'GATK4SPARK_MARKDUPLICATES' {
        ext.prefix   = {"${meta.id}.markduplicates.bam"}
    }

    withName: '.*MAPPING:GATK4_APPLYBQSR' {
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: '.*MAPPING:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            pattern: '*.bai'
        ]
    }

    withName: '.*GATK_.*VCF:GATK4_SELECTVARIANTS_SNP' {
        ext.prefix   = {"${meta.id}_snp"}
        ext.args = ' --select-type-to-include SNP '
    }

    withName: '.*GATK_.*VCF:GATK4_SELECTVARIANTS_INDEL' {
        ext.prefix   = {"${meta.id}_indel"}
        ext.args = ' --select-type-to-include INDEL '
    }

    withName: '.*GATK_.*VCF:GATK4_SELECTVARIANTS_MIX' {
        ext.prefix   = {"${meta.id}_mix"}
        ext.args = ' --select-type-to-include MIXED --select-type-to-include MNP --select-type-to-include SYMBOLIC '
    }

    withName: '.*GATK_.*VCF:GATK4_VARIANTFILTRATION_SNV' {
        ext.prefix   = {"${meta.id}_filtered_snv"}
        ext.args = '-filter "QD < 2.0" --filter-name "QD2" -filter "QUAL < 30.0" --filter-name "QUAL30" -filter "SOR > 3.0" --filter-name "SOR3" -filter "FS > 60.0" --filter-name "FS60" -filter "MQ < 40.0" --filter-name "MQ40" -filter "MQRankSum < -12.5" --filter-name "MQRankSum-12.5" -filter "ReadPosRankSum < -8.0" --filter-name "ReadPosRankSum-8" '
    }

    withName: '.*GATK_.*VCF:GATK4_VARIANTFILTRATION_INDEL' {
        ext.prefix   = {"${meta.id}_filtered_indel"}
        ext.args = '-filter "QD < 2.0" --filter-name "QD2" -filter "QUAL < 30.0" --filter-name "QUAL30" -filter "FS > 200.0" --filter-name "FS200" -filter "ReadPosRankSum < -20.0" --filter-name "ReadPosRankSum-20"'
    }

    withName: '.*GATK_.*VCF:GATK4_VARIANTFILTRATION_MIX' {
        ext.prefix   = {"${meta.id}_filtered_mix"}
        ext.args = ' -filter "QD < 2.0" --filter-name "QD2" -filter "QUAL < 30.0" --filter-name "QUAL30" '
    }

    withName: '.*GATK_.*VCF:BCFTOOLS_SORT' {
        ext.prefix   = {"${vcf.simpleName}.sorted"}
    }
    
    withName: '.*GATK_.*VCF:GATK4_MERGEVCFS' {
        ext.prefix   = {"${meta.id}.merged"}
    }


    withName: '.*GATK_.*VCF:BCFTOOLS_FILTER' {
        ext.prefix   = {"${meta.id}.gatk.PASS"}
        ext.args = '-i "FILTER~\\"PASS\\"" -r chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY --output-type z --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/individual_callers_snvs" },
            mode: params.publish_dir_mode,
            pattern: '*.gatk.PASS.vcf*'
        ]
    }

    withName: '.*GATK_TRIO_VCF:GATK4_HAPLOTYPECALLER' {
        ext.prefix   = {"${meta.id}.g"}
        ext.args = ' -ERC GVCF '
    }

    withName: '.*GATK_TRIO_VCF:GATK4_CALCULATEGENOTYPEPOSTERIORS' {
        publishDir = [
            path: { "${params.outdir}/individual_callers_snvs" },
            mode: params.publish_dir_mode,
            pattern: '*.vcf.gz*'
        ]
    }

    withName: '.*GATK_TRIO_VCF:GATK4_VARIANTFILTRATION_GENOTYPEPOSTERIOR' {
        ext.prefix   = {"${meta.id}.filtered_genotypeposterior"}
        ext.args = ' -G-filter "GQ < 20.0" -G-filter-name "GQ20" '
    }


    withName: '.*GATK_TRIO_VCF:GATK4_VARIANTANNOTATOR' {
        ext.prefix   = {"${meta.id}.trio_annotated"}
        publishDir = [
            path: { "${params.outdir}/snvs" },
            mode: params.publish_dir_mode,
            pattern: '*.trio_annotated.vcf*'
        ]
    }

    withName: '.*DRAGEN_VCF:GATK4_HAPLOTYPECALLER' {
        ext.args = '--dragen-mode --annotate-with-num-discovered-alleles true '
    }

    withName: '.*DRAGEN_VCF:GATK4_VARIANTFILTRATION' {
        ext.prefix   = {"${meta.id}_dragenLabeled"}
        ext.args = '--filter-expression "QUAL < 10.4139" --filter-name "DRAGENHardQUAL"'
    }

    withName: '.*DRAGEN_VCF:BCFTOOLS_FILTER' {
        ext.prefix   = {"${meta.id}.dragen.PASS"}
        ext.args = '-i "FILTER~\\"PASS\\"" -r chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY --output-type z --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/individual_callers_snvs" },
            mode: params.publish_dir_mode,
            pattern: '*.dragen.PASS.vcf*'
        ]
    }

    withName: '.*VCF_MERGE_VARIANTCALLERS:BCFTOOLS_MERGE' {
        ext.prefix   = {"${meta.id}.program_merged"}
        ext.args = '-Oz -m none --force-single'
    }

    withName: '.*VCF_MERGE_VARIANTCALLERS:CREATE_SAMPLE_INFO' {
        publishDir = [
            path: { "${params.outdir}/snvs" },
            mode: params.publish_dir_mode,
            pattern: '*.final.vcf.gz'
        ]
    }

    withName: '.*VCF_MERGE_VARIANTCALLERS:TABIX_TABIX_FINAL_VCF' {
        publishDir = [
            path: { "${params.outdir}/snvs" },
            mode: params.publish_dir_mode,
            pattern: '*.final.vcf.gz.tbi'
        ]
    }

    withName: '.*DEEP_VARIANT_VCF:DEEPVARIANT' {
        ext.prefix = {"${meta.id}.deepvariant"}
    }


    withName: "DEEPVARIANT_MAKEEXAMPLES" {
        ext.args = "--checkpoint \"/opt/models/${params.ngs_type}\""
    }

    withName: "DEEPVARIANT_CALLVARIANTS" {
        ext.args = "--checkpoint \"/opt/models/${params.ngs_type}\""
    }

    withName: '.*DEEP_VARIANT_VCF:BCFTOOLS_FILTER' {
        ext.prefix   = {"${meta.id}.deepvariant.PASS"}
        ext.args = '-i "FILTER~\\"PASS\\"" -r chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY --output-type z --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/individual_callers_snvs" },
            mode: params.publish_dir_mode,
            pattern: '*.deepvariant.PASS.vcf*'
        ]
    }

        
    withName: '.*SNV_ANNOTATION:ENSEMBLVEP_VEP' {
        ext.args    = { [
        (params.refseq_cache) ? "--refseq" : '' , 
        "--tab --format vcf --offline --force_overwrite --use_transcript_ref --check_existing --canonical --everything",
        "--custom ${meta.id}.vcf_to_annotate.vcf.gz,SAMPLE,vcf,exact,0\$(cat ${meta.id}.fields.txt)"
        ].join(' ').trim()
        }
    }

    withName: '.*SNV_ANNOTATION:POSTVEP' {
        publishDir = [
            path: { "${params.outdir}/snvs" },
            mode: params.publish_dir_mode,
            pattern: '*.SNV.INDEL.annotated.tsv'
        ]
    }

    withName: 'ENSEMBLVEP_DOWNLOAD' {
        ext.args    = '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE'
        ext.prefix  = { "${params.vep_cache_version}_${params.assembly}" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: {  params.outdir_cache ? "${params.outdir_cache}/": "${params.outdir}/vep_cache" }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'EXPANSIONHUNTER' {
        publishDir = [
            path: { "${params.outdir}/expansionhunter" },
            mode: params.publish_dir_mode,
            pattern: '*.{vcf.gz,json.gz,bam}'
        ]
    }

    withName: 'MANTA_GERMLINE' {
        publishDir = [
            path: { "${params.outdir}/manta" },
            mode: params.publish_dir_mode,
            pattern: '*.{vcf.gz,vcf.gz.tbi}'
        ]
    }

    withName: '.*SV_CALLING_DELLY:DELLY_CALL' {
        ext.prefix = { "${meta.id}.delly" }
        publishDir = [
            path: { "${params.outdir}/delly" },
            mode: params.publish_dir_mode,
            pattern: '*.delly.vcf.gz'
        ]
    }

    withName: '.*SV_CALLING_DELLY:BCFTOOLS_INDEX' {
        ext.args = '--tbi'
        publishDir = [
            path: { "${params.outdir}/delly" },
            mode: params.publish_dir_mode,
            pattern: '*.delly.vcf.gz.tbi'
        ]
    }

    withName: '.*SV_CALLING_DELLY:ANNOTSV_ANNOTSV' {
        ext.prefix = { "${meta.id}.delly" }
        ext.args = '-svtBEDcol 4 -samplesidBEDcol 5 -SVminSize 20'
        publishDir = [
            path: { "${params.outdir}/svs/delly_annotsv_annotation" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'ANNOTSV_INSTALLANNOTATIONS' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GLOWGENES' {
        publishDir = [
            path: { "${params.outdir}/glowgenes" },
            mode: params.publish_dir_mode
            ]
    }

    withName: 'EXOMEDEPTH' {
        publishDir = [
            path:  { "${params.outdir}/cnvs/exomedepth" },
            mode: params.publish_dir_mode,
            pattern: '*.{txt}'
        ]
    }

    withName: 'CONVADING' {
        publishDir = [
            path:  { "${params.outdir}/cnvs/convading" },
            mode: params.publish_dir_mode,
            pattern: '*.{txt}'
        ]
    }

    withName: 'PANELCNMOPS' {
        publishDir = [
            path:  { "${params.outdir}/cnvs/panelcmops" },
            mode: params.publish_dir_mode,
            pattern: '*.{txt}'
        ]
    }

    withName: '.*CNVS_CALLING:ANNOTSV_ANNOTSV' {
        ext.args = '-svtBEDcol 4 -samplesidBEDcol 5 -SVminSize 20'
        publishDir = [
            path: { "${params.outdir}/cnvs/annotsv_annotation" },
            mode: params.publish_dir_mode
        ]
    }

    withName: '.*SV_CALLING:ANNOTSV_ANNOTSV' {
        ext.args = '-svtBEDcol 4 -samplesidBEDcol 5 -SVminSize 20'
        publishDir = [
            path: { "${params.outdir}/svs/annotsv_annotation" },
            mode: params.publish_dir_mode
        ]
    }
    

    withName: 'MOSDEPTH' {
        ext.args = {
            switch(params.mosdepth_mode) {
                case 'fast':
                    return '--quantize 10: -n -x'
                case 'full':
                    return '--quantize 10:'
                case 'full_with_bed':
                    return '--quantize 10: --thresholds 1,5,10,30,50,100'
                default:
                    return ''
            }
        }
        publishDir = [
            path: { "${params.outdir}/mosdepth" },
            mode: params.publish_dir_mode,
            pattern: '*.{txt,d4,bed.gz,bed.gz.csi}'
        ]
    }
}
